name: Generate APK

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant permissions
        run: chmod +x gradlew

      - name: Build with Gradle
        # "stacktrace" will tell us EXACTLY what is wrong if it fails
        run: ./gradlew assembleDebug --stacktrace

      - name: Find APK File
        # This helps if your APK isn't in the standard /app/build/ folder
        run: find . -name "*.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: "**/*.apk" # This looks everywhere for the APK
          
